.brand-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-img {
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-img img {
  object-fit: cover;
}
