.blog-container {
  background-color: var(--section-bg);
}

.blog-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.blog-img img {
  transition: var(--transition-slow);
}

.blog-card:hover .blog-img img {
  transform: scale(1.1);
}

.blog-card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(248, 250, 252, 0.08);
  transition: var(--transition-slow);
  cursor: pointer;
}

.blog-card:hover {
  box-shadow: 5px 2px 20px var(--section-light-bg);
}

.blog-card-body {
  overflow: hidden;
  padding: 30px 25px;
}

.blog-card-body h6 {
  color: var(--secondary-color);
}

.blog-card-body h5 {
  transition: var(--transition-regular);
  margin: 1rem 0;
}

.blog-card:hover h5 {
  color: var(--secondary-color) !important;
}

.authors img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid var(--white-color);
  z-index: 1;
  margin: -5px;
}

.blog-card-body span {
  color: var(--primary-para);
  font-size: 15px;
}
