.testimonial-container {
  background: linear-gradient(180deg, #1c212f 0%, #12151e 100%);
}

.tst-item {
  background-color: var(--section-bg);
  border-radius: 30px;
  padding: 25px;
  color: var(--white-color);
}

.tst-rating i {
  color: #f1b614;
  font-size: 1.2rem;
}

.tst-banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--section-bg);
  font-size: 2rem;
  border-radius: 50%;
  animation: pluse-animation 2s infinite;
}

.tst-banner img {
  transition: var(--transition-slow);
}

.tst-banner:hover img {
  transform: scale(1.1);
}

@keyframes pluse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
