.footer-container h4 {
  color: var(--white-color);
  font-weight: 600;
}

.footer-link {
  display: block;
  color: var(--white-color);
  text-decoration: none;
  padding: 5px 0;
  transition: var(--transition-regular);
}

.footer-link:hover {
  color: var(--secondary-color);
}

.footer-link i {
  margin-right: 6px;
}

.footer-middle {
  background: linear-gradient(145deg, var(--section-light-bg), #14171e);
  border-radius: 12px;
}

.footer-middle .form-control {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 100px 12px 16px;
  color: var(--white-color);
  border-radius: 6px;
  background-color: transparent !important;
  border: 1px solid var(--border-color) !important;
  box-shadow: none !important;
}

.footer-middle .form-control::placeholder {
  color: #ccc;
  background-color: transparent !important;
  opacity: 0.5;
}

.footer-middle button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition-regular);
}
