.blog-section.main-wrapper {
  background-color: var(--section-bg);
  color: var(--white-color);
}

.blog-section-main-img {
  max-height: 400px !important;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
  transition: var(--transition-regular);
}

.blog-section-main-img:hover {
  transform: scale(1.02);
}

.blog-section-small-text {
  color: var(--secondary-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.blog-section-card-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 0.5rem !important;
  line-height: 1.3;
  transition: var(--transition-regular);
}

/* .blog-section-card-title:hover {
  color: var(--secondary-color);
  cursor: pointer;
} */

.blog-section-meta {
  color: #bbb;
}

.blog-section-meta span {
  font-size: 0.875rem;
}

.blog-section.main-wrapper .blog-section-card {
  background-color: #181c29;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  transition: var(--transition-regular);
  cursor: pointer;
}

.blog-section.main-wrapper .blog-section-card img {
  width: 100%;
  object-fit: cover;
  transition: var(--transition-regular);
}

.blog-section.main-wrapper .blog-section-card:hover img {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .blog-section-main-img {
    max-height: 250px !important;
    margin-bottom: 1rem !important;
  }
}
