.explore-tabs-wrap {
  background-color: #161b22;
}

.explore-tab {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #24292f;
  height: 60px;
  padding-left: 20px;
  cursor: pointer;
  transition: var(--transition-regular);
}

.explore-tab img {
  width: 20px;
  height: 20px;
  transition: var(--transition-regular);
}

.explore-tab h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--white-color);
}

.explore-tab.active {
  background-color: var(--secondary-color);
}

.explore-tab.active img {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.explore-content p {
  font-weight: 400;
  color: var(--primary-para);
}

.explore-content span {
  position: relative;
}

.explore-content span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--primary-para);
}

.explore-content .explore-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
