.pricing-container {
  background: linear-gradient(180deg, #1c212f 0%, #12151e 100%);
}

.pricing-card {
  height: 600px;
  /* background: linear-gradient(180deg, #1c212f 0%, #12151e 100%); */
  background-color: var(--section-light-bg);
  border-radius: 16px;
  padding: 24px;
  transition: var(--transition-regular);
  cursor: pointer;
  border: 1px solid var(--border-color);
}

.pricing-card:hover {
  /* box-shadow: 0 8px 12px 0 rgba(144, 149, 150, 0.2); */
}

.pricing-card h5 {
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: bold;
}

.pricing-card p {
  color: var(--primary-para);
  font-size: 0.8rem;
}

.pricing-card .popular-tag {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  border-radius: 4px;
}

.pricing-content {
  /* background: rgb(18, 21, 30); */
  background-color: #2d3346c2;
  opacity: 0.75;
  /* box-shadow: 0 0 8px 0 #974f402f; */
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-content h2 {
  color: var(--white-color);
  margin: 0;
}

.pricing-content span {
  color: var(--primary-para);
  font-size: 0.9rem;
}

.pricing-card ul li {
  display: flex;
  gap: 1;
  color: var(--white-color);
  font-size: 0.9rem;
  align-items: center;
}

.pricing-card ul li i {
  background-color: var(--primary-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--white-color);
  margin-right: 10px;
}

.pricing-card ul li.disabled-li {
  color: #aaa !important;
  pointer-events: none;
  opacity: 0.5;
}

.pricing-card .btn {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 4px;
  padding: 8px 18px;
  gap: 10px;
  transition: var(--transition-regular);
}

.pricing-card .btn:hover {
  color: var(--white-color);
  background-color: #e65c42 !important;
}

@media (min-width: 991px) {
  .pricing-card.active {
    transform: scale(1.1);
    box-shadow: 0 0 8px 0 var(--border-color);
  }
}
