@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #017b6e;
  --secondary-color: #f26f55;
  --section-bg: #12151e;
  --section-light-bg: #222839;
  --background-linear: linear-gradient(
    180deg,
    #efeedb 0%,
    rgba(239, 238, 219, 0) 100%
  );
  --text-color: #071516;
  --primary-para: #8f94a3;
  --white-color: #f4f5f6;
  --black-color: #000;
  --border-color: rgba(248, 250, 252, 0.08);
  --transition-regular: all 0.3s ease-in-out;
  --transition-slow: all 0.6s ease-in-out;
  --kaushan-font: "Kaushan Script", cursive;
  --lora-font: "Lora", serif;
  --playball-font: "Playball", cursive;
  --poppins-font: "Poppins", sans-serif;
  --roboto-font: "Roboto", sans-serif;
}

body {
  background-color: var(--section-bg) !important;
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.light ::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f26f55;
  border-radius: 10px;
  transition: var(--transition-regular);
}

::-webkit-scrollbar-thumb:hover {
  background: #e76349;
}

::-webkit-scrollbar-vertical {
  width: 8px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::selection {
  background: var(--secondary-color);
  color: white;
}

.bg-section-light {
  background-color: var(--section-light-bg) !important;
}

.section {
  padding-top: 200px !important;
  padding-bottom: 200px !important;
}

.section-title p {
  font-family: var(--kaushan-font);
  font-size: 1.5rem;
  margin: 10px 0;
  color: var(--secondary-color);
}

.section-title h2 {
  font-size: 2.5rem;
  color: var(--white-color);
  font-weight: 700;
}

.btn-custom {
  background-color: var(--secondary-color) !important;
  color: var(--white-color);
  cursor: pointer;
  border: 1px solid var(--secondary-color) !important;
  transition: var(--transition-regular) !important;
}

.btn-custom:hover {
  background-color: transparent !important;
}

.form-control {
  color: var(--white-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--border-color) !important;

  &::placeholder {
    color: var(--primary-para) !important;
  }
}

.form-control:focus,
.form-select:focus {
  border-color: #f26f553f !important;
  box-shadow: 0 0 0 0.1rem #f26f553f !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: transparent !important;
}

.breadcrumb-header {
  text-align: center;
  margin-bottom: 2rem;
}

.breadcrumb-header .breadcrumb-title {
  font-family: var(--kaushan-font);
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.breadcrumb-header .text-muted {
  color: var(--primary-para) !important;
}

.breadcrumb-steps .step {
  background-color: var(--section-light-bg) !important;
  padding: 10px 18px;
  border-radius: 100%;
  color: var(--white-color) !important;
  font-weight: 600;
  transition: var(--transition-regular);
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.breadcrumb-steps .step:hover:not(.step.current) {
  background-color: #f26f553f !important;
  color: var(--white-color) !important;
}

.breadcrumb-steps .step.current {
  background-color: var(--secondary-color) !important;
}

.breadcrumb-steps .step.completed {
  background-color: #be4b34 !important;
}

.page-breadcrumb,
.page-breadcrumb a {
  color: var(--primary-para) !important;
  text-decoration: none !important;
}
