.navbar {
  position: fixed !important;
  z-index: 9999 !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
}

.nav-header {
  z-index: 9999 !important;
}

.call span {
  width: 40px;
  height: 40px;
  background-color: var(--section-bg) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px !important;
}

.call-text p {
  color: var(--white-color) !important;
}

.top-header-right .divider {
  width: 1px;
  height: 20px;
  background-color: var(--border-color);
}

.top-header-right .lang {
  border: 1px solid var(--border-color);
  padding: 8px 20px;
  border-radius: 100px !important;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  transition: var(--transition-regular);
}

.nav-menu li:hover::after {
  width: 100%;
}

.nav-input-box {
  border: 1px solid var(--border-color);
  border-radius: 30px;
  position: relative;
  height: 45px;
  padding-left: 20px;
  /* gap: 20px !important; */
  background-color: #84856014;
}

.nav-input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  color: var(--white-color) !important;

  &::placeholder {
    color: var(--white-color) !important;
  }
}

.nav-input-box input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.nav-input-box i {
  color: var(--primary-para);
}

.navbar-toggler {
  box-shadow: none !important;
}

.cart-count {
  position: absolute;
  top: 0;
  right: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--section-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.navbar-collapse .nav-menu {
  align-items: center !important;
  height: 100% !important;
  justify-content: center !important;
  gap: 30px !important;
}

.navbar-collapse .nav-menu li a {
  font-size: 1.2rem !important;
}

@media (max-width: 991px) {
  .container.menu {
    position: absolute;
    top: -30rem;
    left: 0;
    right: 0;
    width: 100% !important;
    max-width: 100% !important;
    height: 500px !important;
    background-color: var(--section-bg);
    z-index: 9998 !important;
    margin: 0 !important;
    justify-content: center !important;
    transition: var(--transition-regular);
  }
  .container.menu.menu-open {
    top: 4.7rem;
    pointer-events: auto;
    transition: all 0.4s ease-in-out;
  }
}
