.tours-container {
  background-color: var(--section-bg);
}

.tours-container-2 {
  background-color: var(--section-light-bg);
}

.tours-container-2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-image: url("../../assets/feature-bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.1;
}

.tours-card {
  background-color: #1b1e24 !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}

.tours-card .card-img-top {
  height: 250px !important;
  object-fit: cover !important;
  border-radius: 16px 16px 0 0 !important;
}

.tours-card .badge {
  font-size: 0.75rem !important;
  padding: 6px 10px;
  border-radius: 20px !important;
}

.tours-card .ri-shopping-cart-2-line {
  color: var(--secondary-color) !important;
  height: 40px !important;
  width: 40px !important;
  background-color: var(--white-color) !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1.2rem !important;
  transition: var(--transition-regular) !important;
}

.tours-card .ri-shopping-cart-2-line:hover {
  background-color: var(--secondary-color) !important;
  color: var(--white-color) !important;
}

.tours-card .card-title {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-bottom: 0.5rem !important;
}

.tours-card p {
  font-size: 0.875rem;
  color: var(--secondary-color);
  margin-bottom: 0.5rem !important;
}

.tours-card .small {
  font-size: 0.875rem;
  color: var(--white-color);
  margin-bottom: 0.5rem !important;
}
