.banner-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-bg-1 {
  background-image: url("../../../assets/offercard-1.jpeg");
}

.banner-bg-2 {
  background-image: url("../../../assets/offercard-2.jpeg");
}

.banner-content {
  height: 350px;
  z-index: 1;
}

.banner-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #000000 -0.26%,
    #071516 -0.26%,
    rgba(7, 21, 22, 0.6) 33.39%,
    rgba(7, 21, 22, 0.5) 45.1%,
    rgba(7, 21, 22, 0) 59.82%
  );
  z-index: -1;
}

.banner-content .discount {
  position: relative;
  font-family: var(--kaushan-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 10px;
}

.banner-btn {
  color: var(--white-color) !important;
  background-color: var(--secondary-color) !important;
  border-radius: 30px !important;
  margin-top: 20px !important;
  border: 1px solid var(--secondary-color) !important;
  transition: var(--transition-regular) !important;
}

.banner-btn:hover {
  background-color: transparent !important;
}